.landing {
  width: 100%;
  height: 130vh;
  background-image: url('https://www.womdanismanlik.com/images/hero_2.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

/* .slick-slide {
  overflow-y: hidden;
} */

.slick-dots li button:before {
  display: none;
}

.slide__slick {
  position: relative;
  top: 30%;
}

.etsy__list {
  list-style: none;
}
