.landing {
  background-image: url('https://www.womdanismanlik.com/images/hero_2.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.slick-dots li button:before {
  color: black;
}

.slick-dots {
  position: absolute;
  top: 90%;
  color: 'black';
}

.slide__slick {
  height: 760px;
  width: 100%;
  position: relative;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etsy__list {
  list-style: none;
}

.tsparticles-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1000;
}

#particles-js {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*width: 100%;
  height: 100vh;*/
  background: #8000ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close {
  background-color: #ffff !important;
}

@media only screen and (max-width: 768px) {
  .slick-dots {
    visibility: hidden;
  }
}
