.landing {
  background-image: url('https://www.womdanismanlik.com/images/hero_2.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.slick-dots li button:before {
  color: black;
}

.slick-dots {
  position: absolute;
  top: 90%;
  color: 'black';
}

.slide__slick {
  height: 760px;
  width: 100%;
  position: relative;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etsy__list {
  list-style: none;
}

.tsparticles-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1000;
}

#particles-js {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*width: 100%;
  height: 100vh;*/
  background: #8000ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close {
  background-color: #ffff !important;
}

.reference {
  transition: all 0.2s;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  cursor: pointer;
}

.reference:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .slick-dots {
    visibility: hidden;
  }
}
